title: home
description: Overview of Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%p
  <strong>Bike Walk Vote PAC</strong> is the political voice for Oregonians who bike, walk, or take transit. We work to elect candidates who will best support transportation choices and livable communities.

%h2 2012 Primary Endorsements
%p Ballots are due Tuesday, May 15th, 2012. Please make sure you vote!

/ %ul.images
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}


%h3 City of Portland
%ul.simple
  %li
    Portland Mayor:
    %a{:href => "http://jeffersonsmith.com", :title => "Jefferson Smith"} Jefferson Smith 
    %a{:href => "/questionnaires/smith.pdf"} (view questionniare response)
    -#(<a href="media/stories/jefferson-smith-for-mayor.html" title="bike walk vote endorses Jefferson Smith">more</a>).
  %li
    Portland City Council Position 1:
    %a{:href=>"http://www.marynolanforcitycouncil.com", :title=>"Mary Nolan"} Mary Nolan
    %a{:href => "/questionnaires/nolan.pdf"} (view questionniare response)
    -#(more)
  %li
    Portland City Council Position 4:
    %a{:href=>"http://novickforportland.org/", :title=>"Steve Novick"} Steve Novick
    %a{:href => "/questionnaires/novick.pdf"} (view questionniare response)
    -#(more)

/ %ul.images
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}

%h3 Metro
%ul.simple
  %li
    Metro Council District 3: Craig Dirksen
    -#(more)
  %li
    Metro Council District 5:
    %a{:href=>"http://www.samchase.org/"} Sam Chase
    %a{:href => "/questionnaires/chase.pdf"} (view questionniare response)
    -#(more)
  %li
    Metro Council District 6:
    %a{:href=>"http://bobstacey.com/"} Bob Stacey
    %a{:href => "/questionnaires/stacey.pdf"} (view questionniare response)
    -#(more)

/ %ul.images
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}
/   %li
/     %img{:src => lorem.image('150x150')}

%h3 County and State
%ul.simple
  %li
    Washington County Commission District 1:
    %a{:href=>"http://supportschouten.com"} Dick Schouten
    %a{:href => "/questionnaires/schouten.pdf"} (view questionniare response)
    -#(more)
  %li
    Oregon House District 46:
    %a{:href=>"http://alissakenyguyer.com/"} Alissa Keny-Guyer
    -#(more)
  %li
    Oregon House District 48 Democratic Primary:
    %a{:href=>"http://reardonfororegon.com/"} Jeff Reardon
    %a{:href => "/questionnaires/reardon.pdf"} (view questionniare response)
    -#(more)


%h2 Volunteer
%p
  We need your help to spread the news. Help us distribute slate cards or talk to voters in support of our candidates. If you can help, contact Volunteer Coordinator Beth Flanagan by emailing us at
  %a{:href=>"mailto:bethbikewalkvote.org?subject=volunteer"} beth@bikewalkvote.org
  \.


%h2 Stay Informed
%p
  For latest news, like us on <a href="https://www.facebook.com/bikewalkvote" title="Bike Walk Vote on Facebook">Facebook</a>, follow us on <a href="https://twitter.com/#!/bikewalkvote">Twitter</a>, and sign up below:

  / Begin MailChimp Signup Form
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate{:action => "http://pdx.us1.list-manage.com/subscribe/post?u=c4d3147703bee687b89582662&id=c2b6f3b8c5", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
      %h3 want to stay up to date?
      %p Subscribe to our mailing list!
      %fieldset
        %label{:for => "mce-EMAIL"} your email address
        %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
          .clear
            %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe!"}/
  / End mc_embed_signup


%h2 Contribute!
%p
  Elections require money to reach voters. We need your help to get our message out and to help elect the candidates who will best support transportation choices!

%a{:href=>"/contribute.html"} Click here to give

%p
  In Oregon, the first $50 per individual and $100 per couple is eligible for Oregon’s political tax credit – meaning each dollar you give comes back to you at tax time. Donations to Bike Walk Vote PAC qualify for this credit! Learn more (link to oregontaxcredit.com).

/ %h2 About Us
/ %p
/   Who we are (and a bit of history) – link to About us page

%h2 Our Endorsement Process
%p
  Bike Walk Vote PAC makes its endorsements based on answers to written questionnaires, a review of public documents and forums, and at times oral interviews and in-person commutes.
  -#Copies of the written questionnaires are available by clicking on “more” next to the candidate you are interested in.
